.BtDefault{
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 5px;

}

.BtDefault:hover{
    background-color: rgb(37, 42, 45);
    cursor: pointer;
}